@keyframes gradientMove {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient-bg {
  background: linear-gradient(90deg, #2b193d, #4a2f65, #b892ff);

  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}
